.ed-edit-head {
  margin-right: 0.3em;
}
.ed-added {
  outline: 0.2em #0f0 dashed;
}
.ed-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101; /* In order to display on top of the search bar with the theme Timeless */
  text-align: center;
  box-shadow: 0 0 0.5em #000;
  background: #ccf;
}
.ed-highlight {
  padding: 3em;
  background: #0f0;
}
.ed-box .ed-inner {
  padding: 0 1em 1em 1em;
}
.ed-close {
  display: block;
  text-align: right;
  padding: 0 0.3em;
}
.NavHead form {
  display: inline;
}
.ed-loading {
  display: none;
}
.ed-errors {
  color: #c00;
}
.ed-error {
  border: 2px solid #c00;
}
.ed-click {
  cursor: pointer;
  color: rgb(6, 69, 173);
}
.ed-pagename span {
  vertical-align: super;
  color: blue;
}
.ed-feedback {
  color: rgb(0, 0, 255);
  cursor: pointer;
  font-size: x-small;
}
/* Size of the field for adding a transliteration */
.ed-trans input {
  width: 13em;
}
/* Info alert explaining that you can make multiple edits */
.ed-info {
  width: 15em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0 12px 12px 12px;
  background: none repeat scroll 0 0 rgb(255, 255, 153);
  margin: 3px;
  padding: 4px;
  font-size: 1.1em;
  display: none;
}
.ed-info-leave {
  color: blue;
  cursor: pointer;
  font-size: 0.75em;
  text-align: left;
  line-height: 1em;
  display: inline-block;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.ed-info-close {
  float: right;
  font-size: 2em;
  cursor: pointer;
  margin-bottom: -0.15em;
  margin-right: 3px;
}
.ed-info-close:hover,
.ed-info-leave:hover {
  opacity: 0.5;
}
